<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/include/common_header"></head>
<title>问题列表</title>
<script type="text/javascript" th:inline="javascript">
	$("#dataDisplay").jpaging({
		url : [[@{/record/query}]],
	formId : "searchForm",
			pageSize : "10",
			objProperty : "results"
	});
</script>
<body th:with="moduleName =${'record'}">
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i>
	首页
	<span class="c-gray en">&gt;</span>
	问题列表
	<span class="c-gray en">&gt;</span>
	5W1H法
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div id="loading" class="loading" style="display: none;">Loading...</div>
	<div class="container-main">
		<div th:replace="moudles/record/searchForm" />
		<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a class="btn btn-primary radius" data-title="添加资讯" data-href="article-add.html" onclick="Hui_admin_tab(this)" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加资讯</a></span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
		<div th:replace="moudles/record/dataDisplay" />
		<div th:replace="common/include/common_functions" />
	</div>
</div>
</body>
</html>
