<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div id="navbar-table" class="collapse navbar-collapse" th:fragment="searchForm">
	<div class="text-c">
		<form id="searchForm" action="javascript:void(0)">
			<button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
			<span class="select-box inline">
			<select name="" class="select">
				<option value="0">全部分类</option>
				<option value="1">分类一</option>
				<option value="2">分类二</option>
			</select>
			</span> 日期范围：
			<input type="text" name="createTime"  id="logmin" class="input-text Wdate" style="width:120px;">
			-
			<input type="text" name="endTime"  id="logmax" class="input-text Wdate" style="width:120px;">
			<input type="text" name="iWhat" id="" placeholder="iWhat" style="width:250px" class="input-text">
			<button id="search" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
		</form>
	</div>
</div>