<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_header" />
<title>Demo管理</title>
<script type="text/javascript" th:inline="javascript">
	$(document).ready(function() {
		$("#dataDisplay").jpaging({
			url : [[@{/baseCheckItem/list}]],
			formId : "searchForm",
			pageSize : "10",
			objProperty : "list",
			onSetValue : function(propName, value) {
                if ("checkitemCrowd" == propName) {
                    if (value == "1") {
                        return "男";
                    } else if (value == "0") {
                        return "女";
                    } else {
                    	return "不限"
                    }
                }else {
                    return value;
                }
            }
		});
	});
</script>
</head>
<body th:with="moduleName =${'question'}">
	<div id="loading" class="loading" style="display: none;">Loading...</div>
	<div class="container-main">
	<div th:replace="'modules/'+${moduleName}+'/searchForm'" />
	<div th:replace="'modules/'+${moduleName}+'/dataDisplay'" />
	<div th:replace="'modules/'+${moduleName}+'/edit'" />
	<div th:replace="'modules/'+${moduleName}+'/view'" />
	<div th:replace="common/include/common_delete" />
	<div th:replace="common/include/common_functions" />
	</div>
</body>
</html>