<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="edit" class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 1000px; height: 450px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span> <span class="sr-only">关闭</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">基础加项管理</h4>
			</div>
			<div class="modal-body form-horizontal">
				<form action="" class="form-group" id="data-form">
					<div class="form-group">
						<label class="col-sm-2 control-label">检查项ID：</label>
						<div class="col-md-4">
							<input class="form-control" id="checkitemId" name="checkitemId" type="text" style="width: 200px;" />
						</div>
						<label class="col-sm-2 control-label">检查项代码：</label>
						<div class="col-md-4">
							<input class="form-control" id="checkitemCode" name="checkitemCode" type="text" style="width: 200px;" />
						</div>
						<label class="col-sm-2 control-label">检查项名称：</label>
						<div class="col-md-4">
							<input class="form-control" id="checkitemName" name="checkitemName" type="text" style="width: 200px;" />
						</div>
						<label class="col-sm-2 control-label">基础售价：</label>
						<div class="col-md-4">
							<input class="form-control" id="basePrice" name="basePrice" type="text" style="width: 200px;" />
						</div>
						<label class="col-sm-2 control-label">国宾售价：</label>
						<div class="col-md-4">
							<input class="form-control" id="guobingPrice" name="guobingPrice" type="text" style="width: 200px;" />
						</div>
						<label class="col-sm-2 control-label">国宾VIP售价：</label>
						<div class="col-md-4">
							<input class="form-control" id="guobingvipPrice" name="guobingvipPrice" type="text" style="width: 200px;" />
						</div>
						<label class="col-sm-2 control-label">卓越售价：</label>
						<div class="col-md-4">
							<input class="form-control" id="zuoyuePrice" name="zuoyuePrice" type="text" style="width: 200px;" />
						</div>
						<label class="col-sm-2 control-label">君安售价：</label>
						<div class="col-md-4">
							<input class="form-control" id="junanPrice" name="junanPrice" type="text" style="width: 200px;" />
						</div>
						<label class="col-sm-2 control-label"></label>
						<div class="col-md-4">
							<input type="hidden" id="id" name="id" />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal" id="btn-cancel">取消</button>
				<button type="button" class="btn btn-info btn-sm" id="btn-save" onclick="checkForm()">保存</button>
			</div>
		</div>
	</div>
</div>