<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div id="navbar-table" class="collapse navbar-collapse" th:fragment="searchForm">
	<!-- 查询条件栏 -->
	<div class="navbar-form navbar-left form-inline">
		<form id="searchForm" action="javascript:void(0)">
			<div style="float: left">
				检查项名称：
				<input id="query-checkitemName" class="form-control" placeholder="模糊过滤" name="checkitemName" qName="checkitemName">
			</div>
			<button class="btn btn-success btn-sm" id="search">查询</button>
		</form>
	</div>
</div>