<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- 查看模态窗口 -->
<div th:fragment="view" class="modal fade" id="myViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 1000px; height: 450px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">关闭</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">查看详情</h4>
			</div>
			<div class="modal-body form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">检查项ID：</label>
					<div class="col-md-4">
						<span class="form-control" id="checkitemId"></span>
					</div>
					<label class="col-sm-2 control-label">检查项Code：</label>
					<div class="col-md-4">
						<span class="form-control" id="checkitemCode"></span>
					</div>
					<label class="col-sm-2 control-label">检查项名称：</label>
					<div class="col-md-4">
						<span class="form-control" id="checkitemName"></span>
					</div>
					<label class="col-sm-2 control-label">基础售价：</label>
					<div class="col-md-4">
						<span class="form-control" id="basePrice"></span>
					</div>
					<label class="col-sm-2 control-label">国宾售价：</label>
					<div class="col-md-4">
						<span class="form-control" id="guobingPrice"></span>
					</div>
					<label class="col-sm-2 control-label">国宾VIP售价：</label>
					<div class="col-md-4">
						<span class="form-control" id="guobingvipPrice"></span>
					</div>
					<label class="col-sm-2 control-label">卓越售价：</label>
					<div class="col-md-4">
						<span class="form-control" id="zuoyuePrice"></span>
					</div>
					<label class="col-sm-2 control-label">君安售价：</label>
					<div class="col-md-4">
						<span class="form-control" id="junanPrice"></span>
					</div>
					<label class="col-sm-2 control-label">创建时间</label>
					<div class="col-md-4">
						<span class="form-control" id="createDate"></span>
					</div>
					<label class="col-sm-2 control-label">创建人</label>
					<div class="col-md-4">
						<span class="form-control" id="createUser"></span>
					</div>
					<label class="col-sm-2 control-label">更新时间</label>
					<div class="col-md-4">
						<span class="form-control" id="updateDate"></span>
					</div>
					<label class="col-sm-2 control-label">更新人</label>
					<div class="col-md-4">
						<span class="form-control" id="updateUser"></span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal" id="btn-cancel">取消</button>
			</div>
		</div>
	</div>
</div>