<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header">
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" th:href="@{/favicon.ico}" >
    <link rel="Shortcut Icon" th:href="@{/favicon.ico}" />
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/lib/html5shiv.js}"></script>
    <script type="text/javascript"  th:src="@{/lib/respond.min.js}"></script>
    <![endif]-->

    <!-- ================================================================================【css】【101】h-ui css -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/h-ui/css/H-ui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/css/H-ui.admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/skin/default/skin.css}" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/css/style.css}" />

    <!--[if lt IE 6]>
    <script type="text/javascript" th:src="@{/lib/DD_belatedPNG_0.0.8a-min.js}" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->

    <!-- =================================================================================【css】【102】layui css -->
    <link th:href="@{/static/layui/css/layui.css}" type="text/css" rel="stylesheet" />
</head>

<!-- ================================================================================【js】【201】h-ui css -->
<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<!-- ================================================================================【js】【202】layer+h-ui+layui-->
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/static/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/static/h-ui.admin/js/H-ui.admin.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>

<!-- ================================================================================【js】【202】layer+h-ui-->
<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<!-- ================================================================================【js】【301】idstaa js-->
<script type="text/javascript" th:src="@{/static/idstaa/idstaa.js}"></script>
